<nav [class.hidden2]="isHidden">
  <div class="container">
    <div class="top">
      <div class="contactInfo">
        <div class="item">
          <img src="/icons/phone-call.png" alt="" />
          <span>+995 596-568-888</span>
        </div>
        <div class="item">
          <a
            href="https://www.google.com/maps/place/41%C2%B043'48.8%22N+44%C2%B047'56.3%22E/@41.7297809,44.7984883,255m/data=!3m1!1e3!4m4!3m3!8m2!3d41.7302262!4d44.7989711?entry=ttu&g_ep=EgoyMDI1MDIyMy4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/icons/maps.png" alt="" />
            <span>თბილისი, მანჯგალაძის 64</span>
          </a>
        </div>
        <div class="item">
          <img src="/icons/email.png" alt="" />
          <span>example&#64;gmail.com</span>
        </div>
      </div>
      <div class="social">
        <a
          href="https://www.instagram.com/jagger_ge?igsh=MWtlemY1aHJuaW10aw%3D%3D&utm_source=qr"
          ><img src="/icons/facebook.png" alt=""
        /></a>
        <a
          href="https://www.facebook.com/profile.php?id=61572792931043&mibextid=wwXIfr&rdid=eBLGbd8GqdUQ2msp&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18kQCGmNmS%2F%3Fmibextid%3DwwXIfr"
          ><img src="/icons/instagram.png" alt=""
        /></a>
        <a href="https://www.tiktok.com/@jagger_ge?_t=ZS-8uEg5NmTrVp&_r=1"
          ><img src="/icons/tiktok.png" alt=""
        /></a>
      </div>
    </div>
    <div class="bottom">
      <div class="logo" routerLink="/" (click)="isMenuOpen = false">
        <h1>JAGGER</h1>
      </div>

      <div class="pcMenu">
        <span
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          მთავარი
        </span>
        <span routerLink="/products" routerLinkActive="active">პროდუქტები</span>
        <span routerLink="/services" routerLinkActive="active"
          >მომსახურება</span
        >
        <span routerLink="/about" routerLinkActive="active">ჩვენ შესახებ</span>
        <span routerLink="/contact" routerLinkActive="active">კონტაქტი</span>
      </div>

      <div
        class="burger"
        [class.burgertoggle]="isMenuOpen"
        (click)="toggleMenu()"
      >
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</nav>

<div class="mobileMenu" [class.hidden]="!isMenuOpen">
  <span
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="toggleMenu()"
  >
    მთავარი
  </span>
  <span routerLink="/products" routerLinkActive="active" (click)="toggleMenu()"
    >პროდუქტები</span
  >
  <span routerLink="/services" routerLinkActive="active" (click)="toggleMenu()"
    >მომსახურება</span
  >
  <span routerLink="/about" routerLinkActive="active" (click)="toggleMenu()"
    >ჩვენს შესახებ</span
  >
  <span routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()"
    >კონტაქტი</span
  >
</div>
