<footer>
  <div class="container">
    <div class="top">
      <div class="logo">
        <h1>JAGGER</h1>
      </div>
      <div class="content">
        <div class="address">
          <h3>მისამართი</h3>
          <div class="item">
            <img src="/icons/maps.png" alt="" />
            <span>Tbilisi, 123 Street</span>
          </div>
        </div>
        <div class="contact">
          <h3>კონტაქტი</h3>
          <div class="item">
            <img src="/icons/phone-call.png" alt="" />
            <span>+995 599-123-456</span>
          </div>
          <div class="item">
            <img src="/icons/email.png" alt="" />
            <span>example&#64;gmail.com</span>
          </div>
        </div>
        <div class="social">
          <h3>სოციალური ქსელები</h3>
          <a href="#"><img src="/icons/facebook.png" alt="" /> Facebook</a>
          <a href="#"><img src="/icons/instagram.png" alt="" /> Instagram</a>
        </div>
        <div class="pages">
          <h3>გვერდები</h3>
          <span routerLink="/">მთავარი</span>
          <span routerLink="/products">პროდუქტები</span>
          <span routerLink="/services">მომსახურება</span>
          <span routerLink="/about">ჩვენს შესახებ</span>
          <span routerLink="/contact">კონტაქტი</span>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="copy">
        <span>© 2025 JAGGER.GE | </span>
        <span
          >Created By
          <a href="https://www.linkedin.com/in/levan-martirosyan/"
            >DARKNESS</a
          ></span
        >
      </div>
    </div>
  </div>
</footer>
