<section>
  <div class="cards">
    <div class="card">
      <div class="icon">
        <img src="/icons/maps.png" alt="" />
        <h3>მისამართი</h3>
      </div>
      <a
        href="https://www.google.com/maps/place/41%C2%B043'48.8%22N+44%C2%B047'56.3%22E/@41.7297809,44.7984883,255m/data=!3m1!1e3!4m4!3m3!8m2!3d41.7302262!4d44.7989711?entry=ttu&g_ep=EgoyMDI1MDIyMy4xIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>თბილისი, ე.მანჯგალიძის 64</span>
      </a>
    </div>
    <div class="card">
      <div class="icon">
        <img src="/icons/phone-call.png" alt="" />
        <h3>კონტაქტი</h3>
      </div>
      <a href="tel:+995596568888">
        <span>ტელ: +995 596-568-888</span>
      </a>
      <a href="mailto:infojagger.ge@gmail.com">
        <span>ელ.ფოსტა: infojagger.ge&#64;gmail.com</span>
      </a>
    </div>
    <div class="card">
      <div class="icon">
        <img src="/icons/working-time.png" alt="" />
        <h3>სამუშაო საათები</h3>
      </div>
      <span>ორშაბათი-პარასკევი: 10:00 - 18:00</span>
      <span>შაბათი: 11:00 - 16:00</span>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d1111.742719738343!2d44.7984883!3d41.7297809!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDQzJzQ4LjgiTiA0NMKwNDcnNTYuMyJF!5e1!3m2!1sru!2sge!4v1740581825891!5m2!1sru!2sge"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
