<section>
  <div class="mainInfo">
    <div class="left">
      <div class="image">
        <img
          [src]="productDetails?.image ? productDetails.image : ''"
          alt=""
          [style.transform]="'scale(' + zoomScale + ')'"
          [style.transform-origin]="zoomOrigin.x + ' ' + zoomOrigin.y"
          (mouseenter)="onMouseEnter($event)"
          (mousemove)="onMouseMove($event)"
          (mouseleave)="onMouseLeave()"
        />
      </div>
    </div>
    <div class="right">
      <div class="top">
        <div class="title">
          <span>{{ productDetails?.name }}</span>
          <div class="prices">
            <div>
              <span
                [style.display]="
                  productDetails?.oldPrice == 0
                    ? 'none'
                    : productDetails?.oldPrice
                    ? 'block'
                    : 'none'
                "
              >
                {{
                  productDetails?.oldPrice == undefined
                    ? ""
                    : productDetails?.oldPrice == 0
                    ? ""
                    : productDetails?.oldPrice + " ₾"
                }}</span
              >
              <span>{{
                productDetails?.price == undefined
                  ? ""
                  : productDetails?.price + " ₾"
              }}</span>
            </div>
          </div>
        </div>
        <div class="stock">
          <span class="productId"
            >ID: <span>{{ productDetails?.id }}</span>
          </span>
          <span
            class="stockText"
            [class]="productDetails?.stock ? 'inStock' : 'outOfStock'"
          >
            <i class="fa-solid fa-boxes-stacked"></i
            >{{ productDetails?.stock ? "მარაგშია" : "მარაგი ამოიწურა" }}
          </span>
        </div>
      </div>
      <div class="info">
        <span
          >კატეგორია: <span>{{ productDetails?.category }}</span></span
        >
        <span
          >ქვეყანა: <span>{{ productDetails?.country }}</span></span
        >
        <span
          >ზომა: <span>{{ productDetails?.size }}</span></span
        >
        <span
          >მატერიალი: <span>{{ productDetails?.material }}</span></span
        >
        <span
          >დათბუნება: <span>{{ productDetails?.insulation }}</span></span
        >
        <span
          >სერთიფიკატი: <span>{{ productDetails?.certificate }}</span></span
        >
      </div>
    </div>
  </div>
  <div class="additionalInfo">
    <div class="header">
      <h3 [class.active]="addInfo === 0" (click)="toggleAddInfo(0)">
        დაატებითი ინფორმაცია
      </h3>
      <h3 [class.active]="addInfo === 1" (click)="toggleAddInfo(1)">აღწერა</h3>
    </div>
    @switch (addInfo) { @case (0) {
    <div class="content">
      <span
        >ზომა: <span>{{ productDetails?.size }}</span></span
      >
      <span
        >კარის ფრთის სისქე:
        <span>{{ productDetails?.additionalInfo?.frtisSisqe }}</span></span
      >
      <span
        >ჩარჩოს სისქე:
        <span>{{ productDetails?.additionalInfo?.charchosSisqe }}</span></span
      >
      <span
        >კარის ფრთის ლითონის სისქე:
        <span>{{
          productDetails?.additionalInfo?.frtisLitonisSisqe
        }}</span></span
      >
      <span
        >ჩარჩოს ლითონის სისქე:
        <span>{{
          productDetails?.additionalInfo?.charchosLitonisSisqe
        }}</span></span
      >
      <span
        >საკეტების რაოდენობა:
        <span>{{ productDetails?.additionalInfo?.lockQuantity }}</span></span
      >
    </div>
    } @case (1) {
    <div class="content">
      <p>{{ productDetails?.description }}</p>
    </div>
    } }
  </div>
</section>
<section style="margin-top: 70px">
  <div class="name">
    <div class="icon">
      <i class="fa-solid fa-lightbulb"></i>
    </div>
    <h1>ასევე გთავაზობთ</h1>
  </div>
  <div class="products">
    @for (item of products; track $index) { @if (item.sectionCategory ==
    productDetails.sectionCategory) {
    <div class="product">
      <div class="top">
        <div class="img" (click)="goToDetails(item.id, item.name)">
          <img [src]="item.image" alt="" />
        </div>
        <div class="info">
          <span>{{ item.name }}</span>
          <span>{{ item.size }}</span>
        </div>
      </div>
      @if (item.oldPrice !== 0 && item.oldPrice !== undefined ) {
      <div class="sale">
        <span
          >-{{
            ((item.oldPrice - item.price) / item.oldPrice) * 100
              | number : "1.0-0"
          }}%</span
        >
      </div>
      }
      <div class="prices">
        <div>
          <span
            [style.display]="
              item.oldPrice == 0 ? 'none' : item.oldPrice ? 'block' : 'none'
            "
          >
            {{ item.oldPrice == 0 ? "" : item.oldPrice + " ₾" }}</span
          >
          <span>{{ item.price + " ₾" }}</span>
        </div>
        <button (click)="goToDetails(item.id, item.name)">
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>
    } }
  </div>
</section>
