<section>
  <div class="card">
    <img
      src="https://youmats-media.s3.me-central-1.amazonaws.com/262959/conversions/3-size_500_500.webp"
      alt=""
    />
    <div class="text">
      <span>კარებები</span>
      <span>ყველას ნახვა <i class="fa-solid fa-chevron-right"></i> </span>
    </div>
  </div>
  <div class="card">
    <img
      src="https://www.handleking.ie/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/h/k/hk_l5145sz_copy.jpg"
      alt=""
    />
    <div class="text">
      <span>საკეტები</span>
      <span>მალე</span>
    </div>
  </div>
  <div class="card">
    <img
      src="https://smartdoor.ge/cdn/shop/files/38-163937.png?v=1730933193"
      alt=""
    />
    <div class="text">
      <span>სმარტ სახელურები</span>
      <span>მალე</span>
    </div>
  </div>
</section>
